* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(120deg, #15285b, #b5f3f3);
    padding: 30px;
}

.title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 32px;
}

.container {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: flex-start;
}

.card {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    width: 320px;
    box-shadow: 0 8px 20px rgba(22, 0, 0, 0.34);
}

.card.large {
    width: 520px;
    height: 450px;
}

.card h2 {
    color: #101a56;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

textarea {
    resize: none;
    height: 80px;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.primary {
    width: 100%;
    margin-top: 15px;
    background: linear-gradient(90deg, #b5f3f3, #15285b);
    color: white;
}

.secondary {
    background: linear-gradient(90deg, #b5f3f3, #15285b);
    color: white;
    flex: 1;
}

.btn:hover {
    transform: scale(1.03);
}

.btn-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.empty-text {
    text-align: center;
    color: #999;
    margin-top: 60px;
    font-size: 15px;
}

/* Cards CSS */

.event-card {
    background: #eef2ff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
}

.event-card h3 {
    color: #1d2561;
}

.date {
    font-size: 13px;
    color: #555;
}

.tag {
    display: inline-block;
    background: #111235;
    color: white;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 12px;
    margin: 6px 0;
}

.desc {
    font-size: 14px;
    margin-top: 6px;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #922727;
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 4px 8px;
}

